<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

	<title>Breakfast APP</title>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="style/style.css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>

</head>

<body>

	<script>
		$(document).ready(function () {
			var $seuCampoCpf = $("#CPF");
			$seuCampoCpf.mask('000.000.000-00', {reverse: true});
		});
	</script>

	<header>
		<nav class="menu">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo"><b>Cadastrar Café da Manhã</b></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/breakfast" class="waves-effect waves-light btn"><i
								class="material-icons left">format_list_bulleted</i>Lista de Café da Manhã</a></li>
				</ul>
			</div>
		</nav>
	</header>


	<div class="container cadastrarBreakfast">

		<form class="container" method="post">
			<div class="row">
				<div class="input-fiel col s8">
					<b>Nome: </b><input type="text" value="" name="nome" placeholder="Nome Completo" />
				</div>
				<div class="input-fiel col s8">
					<b>CPF: </b><input type="text" value="" id="CPF" name="cpf" size="14" maxlength="14"
						placeholder="000.000.000-00" />
				</div>
				<div class="input-fiel col s8">
					<b>Comida/Bebida: </b><input type="text" value="" name="comida"
						placeholder="Digite sua opção para o café da manhã" />
				</div>
				<div class="input-fiel col s8">
					<font size="5"><b>
							<th:block th:include="mensagemValidacao"></th:block>
					</font></b>
				</div>
			</div>

			<button class="waves-effect waves-light btn" type="submit">Salvar</button>

		</form>
	</div>
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>

</html>